.contact-admin__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-admin__heading {
    margin-bottom: 40px;
    text-align: center;
}

.contact-admin__search {
    max-width: 1200px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #000;
}

.contact__name-gender {
    display: flex;
}

.contact-admin {
    display: flex;
}

.contact-admin__ttl {
    display: flex;
}


.contact-admin__txt {
    display: flex;
}

.admin__button {
    margin-top: 30px;
    text-align: center;
}

.admin__button-submit {
    width: 20%;
    height: 15%;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.admin-number {
    margin: 0 auto;
    text-align: left;
}

.admin__table {
    margin: 0 auto;
}

.admin__table-tr {
    justify-content: space-between;

    max-width: 1200px;
}

.admin__table-th {
    border-bottom: #000 solid 1px;
    padding: 10px 20px;
    text-align: left;
}

.admin__table-td {
    padding: 10px 20px;
    justify-content: space-between;
}
