.contact-admin__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-admin__heading {
    margin-bottom: 40px;
    text-align: center;
}

.contact-admin__search {
    width: 800px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid #000;
}

.contact-admin__ttl {
    display: flex;
}

.contact-admin__ttl input {
    width: 100px;
    height: 60px;
}

.contact-admin__txt {
    display: flex;
}

.admin__button {
    margin-top: 30px;
    text-align: center;
}

.admin__button-submit {
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
